@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto+Condensed:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow-y: auto;
    font-family: 'Roboto Condensed',sans-serif;
}


header{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 128px;
    gap: 50px;
    width: 100%;
}

.form{
    background-image: linear-gradient(to right, #14213d 0%, rgba(4,116,192,1) 70%);
    padding: 72px 0 72px 0;
}

.cards{
    padding-top: 40px;
}

.profile{
    display: flex;
    align-items: flex-start;
}

.profile > a > img{
    width: 120px;
       
}

.headerInput{
    width: 100%;
    outline: lightblue solid 1px;
}

.config {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    font-size: 20px;
    color: rgb(91, 164, 189);
}

.config > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}


h1{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding-bottom: 20px;
}
.sec{
    background-color: pink;
}

.row-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    gap: 40px; 
}

.pessoa-1, .pessoa-2, .pessoa-3, .pessoa-4, .pessoa-5, .pessoa-6, .pessoa-7, .pessoa-8, .pessoa-9{
    margin: 16px;
    background-color: white;
    padding: 8px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 10px 1px blue;
}

.aceitar-carona-btn{   
        margin-left: 180px; 
        padding: 12px;
        border-radius: 24px;
        border: none;
        font-family: 'Montserrat' sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #0081bd;    
        cursor: pointer;
        transition: transform 0.3s;
    
}


.pessoa-1 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-1 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-1 > a{
    text-decoration: none;
    display: block;
    margin-left: 4px;
}


.pessoa-2 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-2 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-2 > a{
    text-decoration: none;
    display: block;
}


.pessoa-3 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-3 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-3 > a{
    text-decoration: none;
    display: block;
    
}

.row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    gap: 40px; 
}

.pessoa-4 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-4 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-4 > a{
    text-decoration: none;
    display: block;
    margin-left: 20px;
}


.pessoa-5 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-5 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-5 > a{
    text-decoration: none;
    display: block;
    margin-left: 6px;
}

.pessoa-6 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-6 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-6 > a{
    text-decoration: none;
    display: block;
    
}

.pessoa-7 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-7> p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.pessoa-7 > a{
    text-decoration: none;
    display: block;
   
}

.pessoa-8 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-8 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-8 > a{
    text-decoration: none;
    display: block;
    
}

.pessoa-9 > img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.pessoa-9 > p{
    margin-left: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pessoa-9 > a{
    text-decoration: none;
    display: block;
    
}

.rodape{
    display: flex;
    gap: 120px;
    justify-content: center;
    color: #001c2b;
}


footer{
    background-color: rgb(211, 211, 211) ;
}

.help, .sobre, .partner, .social-media{
    margin: 20px;
    text-align: center;
}

.help > h3{
    padding: 0 0 0 12px;
    text-align: left;
}

.sobre > h3{
    text-align: left;
    margin: 0 0 0 12px;
    
}

.partner > h3{
    text-align: left;
    margin: 0 0 0 12px;
}

.social-media > h3{
    text-align: right;
    margin: 0 11px;
}